* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background:#171d22;
    min-height: 100vh;
}

h3 {
    margin: 20px 0;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

/* Sezione Header */
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 70px;
    background: #262F38;

}

.componenti ul{
    list-style: none;
    display: flex;
}

.componenti ul a{
    color: whitesmoke;
    text-decoration: none;
    padding-left: 30px;
    font-size: 20px;
}

.header-input input{
    padding: 8px 14px;
    margin: 8px 0;
    outline: 0;
    text-decoration: none;
    border: none;
}

.header-input i{
    font-size: 20px;
    color: lightgrey;
    padding: 6px;
    background-color: white;
    position: absolute;
    top: 19px;
}

header img {
    height: 50px;
}

/* sezione slider */

.slider{
    width: 80%;
    margin: auto;
}

.container_slider {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}

.slider-wrapper {
    position: relative;
    padding-top: 50px;
}
.slider-wrapper .images {
    text-align: center;
}
.slider-wrapper .images img {
    height: 100%;
    width: 75%;
}
.slider-wrapper .images img.active {
    display: inline-block;
}



.nav {
    position: absolute;
    transform: translateX(-50%);
    padding-top: 30px;

}

.trattino{
    width: 20px;
    height:6px;
    background-color: #008fee;
    display: inline-block;
    margin: 5px 7px;
    opacity: 0.4;
}

.active{
    opacity: 1;
}

.info{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom:20px;
    font-size: 20px;
    color:whitesmoke;
}

.info h2{
    padding:5px;
}

#blue{
    color: red;
}

/* sezione casella selezione */

#selettore{
    width: 200px;
    position: absolute;
    left: 45%;
}


/* Sezione Main */
.films-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 300px 0;
}

.film {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 8px 10px;
    text-align: center;
    word-break: break-all;
    position: relative;
    border:1px solid white;
}

.layer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .2s ease-in-out; 
    overflow: hidden;
    opacity: 0;
    color: whitesmoke;
}


.layer:hover{
    background-color: black;
    opacity: 1;
}


.bandiera-size{
    border-radius: 50%;
    width: 50px;
    padding: 10px 0;
}


.lingua {
    color: grey;
    font-size: 20px;
}

.voto {
    color: yellow;
    font-size: 20px;
}


.trama{

    word-break: break-word;
}


/* 
.layer i {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 70px;
color: white;
display: none;
}

.layer:hover i {
display: inline;
} */ */