<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Boolfix</title>
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Link AXIOS/AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

            <header>
                <div class="container">
                    <img src="img/logo.jpg" alt="logo" />
                </div>
            </header>
            
            <div id="app" class="cds-container container">
                
                    <div id="app">
                        <input type="text" v-model="query"@keyup.enter="ricerca">
                    </div>
            
                <div class="cd" v-for="contenuto in contenuti">
                    <img :src="preselezione + formato + contenuto.backdrop_path" :alt="contenuto.original_title">
                    <h3 class="title"> {{contenuto.title}} </h3>
                    <h3 class="title"> {{contenuto.original_title}} </h3>
                    <span class="author">{{contenuto.original_language}}</span>
                    <span class="year"> {{contenuto.vote_average}} </span>
                </div>
            </div>


    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>